SECRET_KEY=change-me
DJANGO_SECRET=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
DATABASE_URL=postgresql://username:password@host/database
BLOB_READ_WRITE_TOKEN=vercel_blob_read_write_token
